@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
    background-position: center;
    background-size: center;
}
.navbar{
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    position: absolute;
    height: 55px;
    margin-top: -10px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 15px;
}
li a:hover{
    background: white;
    transition: 0.6s;
}
.navbar a:hover{
    color: black;
}
.content{
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    margin-top: 80px;
    font-size: 90px;
    font-weight: 800;
}

.content p{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: rgb(133, 226, 96);
}
button{
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    color: black;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}
button:hover{
    background: rgb(106, 187, 201);
    transition: 0.5s;
}
button:hover{
    color: white;
}
.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
}

/*destination*/

.destination__nav {
  position: absolute;
  left: 90%;
  top: 120%;
  display: flex;
  gap: 1rem;
}

i:hover{
  box-shadow: 0 0 20px black;
}

.destination__nav span {
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.destination__nav span:hover {
  color: green;
  background-color: var(--primary-color);
}


.destination__details {
 
width: 100%;
height: 100%;
top: 0;
left: 0;
position: absolute;
background: rgba(60, 56, 56, 0.6);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
opacity: 0;
transition: 0.6s;
}
.destination__details:hover{
  opacity: 1;
}
.destination__details p{
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
}
.destination__details > *{
  transform: translateY(25px);
  transition: transform 0.6s;
}
.destination__details:hover > *{
  transform: translateY(0px);
  
}



.destination__title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.destination__subtitle {
  font-size: 1rem;
  font-weight: 600;
}
.section__header h2{
  color: rgb(33, 110, 33);
  position: absolute;
  left: 40%;
  top: 110%;
  font-size: 33px;

  
}
.section__header p{
  position: absolute;
  left: 13%;
  top: 120%;
  font-size: 25px;

}

.image1{
  
  position: absolute;
  left: 10%;
  top: 130%;
  
 

}

.image2{
  position: absolute;
  left: 32%;
  top: 130%;
 
 

}

.image3{
  position: absolute;
  left: 53%;
  top: 130%;
 

}

.image4{
  position: absolute;
  left: 75%;
  top: 130%;
 

}



/*pricing*/


ol, ul {
	list-style: none;
}
.container{
  position: absolute;
  top: 210%;
 
    
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.travelPlans{
    width: 22%;
    height: auto;
    /* display: flex; */
    text-align: center;
    border-radius: 15px;
    margin: 0 15px;
    background-color: rgba(219, 226, 219, 0.9);
    opacity: 0.7;
}

.travelPlans:hover{
    width: 25%;
    transition: 0.5s;
    opacity: 1;
}
.place{
    width: 100%;
    height: 45%;
    border-radius: 15px;
}

.planType{
    margin: 10px;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    color: rgba(0,0,0,0.8);
}

.travelFeatures{
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.5);   
}
.travelFeaturesItem{
      margin: 0;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 1.1rem;
      /* line-height: 1.5; */
      padding: 5px;
      border-top: 1px solid #e1f1ff;
      border-radius: 5px;
}
.travelFeaturesItem:last-child{
    border-bottom: 1px solid #e1f1ff;
    border-radius: 15px;

}
.travelPrice{
    color: rgba(0,0,0,0.7);
    margin: 5px;
	display: block;
	font-weight: 600;
	font-size: 1.4rem;
}

.button{
    border: 2px solid rgb(106, 187, 201);
    font-weight: 600;
    margin: 10px;
	border-radius: 10px;
	color:  rgb(106, 187, 201);
	display: inline-block;
	padding: 5px 15px;
	text-decoration: none;
	transition: all 300ms;
}
.button:hover, .button:focus{
	background-color:  rgb(106, 187, 201);
    color: #fff;
}

@media (max-width:810px) {
	.container{
		flex-direction: column;

	}
    .travelPlans{
        width: 35%;
        margin: 10px 0;
    }
    .travelPlans:hover{
        width: 40%;
        transition: 0.5s;
        opacity: 1;
    }
	
}

.view__all .btn:hover{
  background-color: rgb(19, 66, 128);

}

/**/

/*drop*/

.section__container12 h2{
  position: absolute;
  left: 43%;
  font-size: 30px;
  top: 190%;
  color: green;
  
}

.section__container12 p{
  position: absolute;
  left: 15%;
  font-size: 25px;
  top: 200%;
  
  
}



.trip_container :is(.sectiontitle, .sectionsubtitle, .view_all) {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.trip__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 0;
}

.trip__card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.trip__details {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--extra-light);
  cursor: pointer;
}

.rating {
  color: goldenrod;
}

.booking__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price span {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--text-light);
}

.book__now {
  padding: 0.5rem 1.5rem;
  color: var(--primary-color);
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.book__now:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

/*drop*/

/*galler*/
.gallary__content .btn{
  position: absolute;
  left: 55%;
  top: 370%;
}

.gallary__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.image__gallary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.gallary__col {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.gallary__col1 img {
  position: absolute;
  left: 15%;
  top: 330%;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.gallary__col img {
  position: absolute;
  left: 30%;
  top: 340%;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.gallary__col2 img {
  position: absolute;
  left: 19%;
  top: 365%;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}


.gallary__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallary__content > div {
  max-width: 400px;
}

.gallary_content .section_subtitle {
  margin-bottom: 2rem;
}

.gallary__content h2{
  position: absolute;
  font-size: 30px;
  color: green;
  left: 55%;
  top: 325%;
}
.gallary__content p{
  position: absolute;
  font-size: 25px;
  top: 339%;
  left: 55%;
}

/*subscribe*/
/*
.subscribe {
  position: absolute;
  top: 425%;
  left: 10%;
  background-color: rgb(160, 150, 150)
}

.subscribe__container {
  background: grey;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

.subscribe__form{
 
  position: absolute;
  top: 440%;
  left: 10%;
  
}

.subscribe__form form {
  width: 100%;
  max-width: 550px;
  display: flex;
  background-color: green;
  box-shadow: 5px 5px 30px rgba(11, 11, 11, 0.1);
  border-radius: 5rem;
}

.subscribe__form input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
}
.subscribe h2{
  position: absolute;
  color: green;
  font-size: 30px;
  left: 10%;
  top: 419%;
}
.subscribe p{
  position: absolute;
  top: 429%;
  left: 10%;
  font-size: 25px;
  justify-content: center;
}

/*footer*/

.footer {
  background-color: lightslategray;
  position: absolute;
  top: 480%;
  width: 100%;
 
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  color: var(--secondary-color);
}

.footer__col h3 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 2rem;
}



.footer__col p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color:white;
}

.footer__col p span {
  font-weight: 600;
}

.footer__col h4 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
  color: var(--secondary-color);
  border-top: 1px solid var(--text-light);
}

@media (width < 1200px) {
  .header__image img:nth-child(1) {
    max-width: 300px;
  }

  .header__image img:nth-child(2) {
    max-width: 200px;
  }
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__image {
    min-height: 500px;
  }

  .destination__grid {
    gap: 1rem;
  }

  .trip__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .trip__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallary__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .subscribe__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}